{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static  'css/styles.css' %}" />
    <title>Web Design Mastery | Responsive Portfolio</title>
  </head>
  <body>
    {% block content %}
    {% comment %} content Here {% endcomment %}
    {% endblock content %}

    {% block script %}
    {% comment %}Additonal Script Here {% endcomment %}
    {% endblock script %}
    <script src="{% static 'js/script.js' %}"></script>
    
  </body>
  </html>